
    h1{
        color :black ;
        border: saddlebrown ;
        background-color:#FFAAA4;
      border: 3px solid rgb(163, 25, 25)
      

     }
  *{
    background-color:rgb(228, 209, 43) ;
    
 } 
 .header{
    display:flex ;
    justify-content: space-around;
    padding:5px ;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #6f9fce ;
 }

 body{
    margin: 0px ;
    background-color:#15395a;
 }

 .grid img{
border: 2px solid rgb(00,00,00);
border-radius: 50px;
 }
 
 .origami{
    border-radius: 10px ;
    background-color:#030303 ;
    padding: 20px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;

 }
 .footer{
    display: flex;
    justify-content: flex-end;
 }




